{% extends "base.html" %}

{% block title %} Usuarios {% endblock title %}


{% block content %}


<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
	<div class="uk-width-1-1">
		<div class="uk-container">
			<form class="uk-form-stacked">

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Nombre Completo</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="">
                    </div>
                </div>

            </form>
		</div>
	</div>
</div>


{% block content %}
