{% extends "base_workflow.html" %}
{% block title %} Usuarios {% endblock title %}


{% block workflow %}

<div class="tab-content clearfix">
    <div class="tab-pane active" id="users">


        <main class="content">
            <div class="container-fluid p-0">
        
                <h1 class="h3 mb-3">Usuarios</h1> 
                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#newUserModal">Nuevo Usuario</button>

                <div class="row">
                    <div class="col-12">
        
                        <div class="card">
                            <div class="card-header">
                                <table class="table table-hover my-0">
                                    <thead>
                                        <tr>
                                            <th class="d-none d-xl-table-cell">Key</th>
                                            <th>Nombre</th>
                                            <th>CURP</th>
                                            <th>Área</th>
                                            <th>Registro</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% if dbusers.fetch().items %}
                                            {% for user in dbusers.fetch().items %}
                                                <tr>
                                                    <td class="d-none d-xl-table-cell">{{ user["key"] }}</td>
                                                    <td>{{ user["firstName"] }}</td>
                                                    <td>{{ user["curp"] }}</td>
                                                    <td><span class="badge bg-success">{{ user["area"] }}</span></td>
                                                    <td class="d-none d-xl-table-cell">{{ user["created_at"] }}</td>
                                                </tr>
                                            {% endfor %}

                                            {% else %}
                                            <tr>
                                                <td class="d-none d-xl-table-cell"> No hay usuarios para mostrar. :( </td>
                                                <td>#####</td>
                                                <td>#####</td>
                                                <td><span class="badge bg-success">#####</span></td>
                                                <td class="d-none d-xl-table-cell">#####</td>
                                            </tr>
                                        {% endif %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
        
                    </div>
                </div>

            </div>
        </main>
    </div>
</div>

<!-- Modal -->
<div class="modal-dialog fade modal-fullscreen" id="newUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock workflow %}






