{% extends "base.html" %}

{%  block content %}
{% from "pages/include/macros.html" import nav_link with context %}

<!-- https://codepen.io/zzseba78/pen/YEMrvZ -->
<aside id="left-col" class="uk-light">
    <div class="bar-wrap">
        <h1>{{ user["firstName"] }}</h1>
      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
        <li class="uk-nav-header">{{ user["area"] }}</li>
        {% if user['is_admin'] == True %}
            
            {{ nav_link('users', 'Usuarios', 'user') }}
            <li class="uk-nav-divider"></li>
        {% endif %}

          {{ nav_link('dashboard', 'Pedidos', 'cart') }}
          {{ nav_link('products', 'Productos', 'tag') }}
          {{ nav_link('customers', 'Clientes', 'users') }}
          <li class="uk-nav-divider"></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> Cerrar Sesion</a></li>
      </ul> 
    </div>
  </aside>


<div id="right-col">
      {% block main %}{% endblock main %}
</div>

{% endblock content %}