{% extends "base.html" %}

{% block title %} Promoser ~ Dashboard {% endblock title %}

{%  block content %}

<!-- https://codepen.io/zzseba78/pen/YEMrvZ -->
<aside id="left-col" class="uk-light">
    <div class="bar-wrap">
        <h1>{{ user["firstName"] }}</h1>
      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav> 
          <li class="uk-active"><a href="#"><span class="uk-margin-small-right" uk-icon="icon: cart"></span>Pedidos</a></li>
          <li class=""><a href="#"><span class="uk-margin-small-right" uk-icon="icon: users"></span>Clientes</a></li>
          <li class=""><a href="#"><span class="uk-margin-small-right" uk-icon="icon: tag"></span>Productos</a></li>
          
          <li class="uk-nav-divider"></li>
          <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> Cerrar Sesion</a></li>
      </ul> 
    </div>
  </aside>

  <div id="right-col">
    <div class="uk-container uk-margin-medium-top">
      <div class="uk-grid uk-child-width-1-3" uk-grid>
        <div class="uk-width-1-1">
            <div class="uk-grid-small" uk-grid>

                <div class="uk-width-1-2@s">
                    <p class="uk-text-lead" > Bienvenido/a, hoy es {{time.date.today().strftime("%b %d %Y")}}</p>
                </div>

                <div class="uk-width-1-4@s">
                    <a class="uk-button uk-button-default" href="#modal-center" uk-toggle><span uk-icon="icon: plus"></span> Nuevo Pedido</a>
                </div>

                <div class="uk-width-1-4@s">
                    <div class="uk-margin">
                        <form class="uk-search uk-search-default">
                            <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                            <input class="uk-search-input" type="search" placeholder="Buscar">
                        </form>
                    </div>
                </div>

                <p uk-margin>
                    <button class="uk-button uk-button-secondary uk-button-small">Mostrar Todos</button>
                    <button class="uk-button uk-button-default uk-button-small">Hoy</button>
                    <button class="uk-button uk-button-default uk-button-small">Ayer</button>
                        <div class="uk-inline">
                            <button class="uk-button uk-button-default uk-button-small" type="button">Estado</button>
                            <div uk-dropdown>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-active"><a href="#">Nuevo</a></li>
                                    <li class=""><a href="#">Elaborando</a></li>
                                    <li class=""><a href="#">Terminado</a></li>
                                </ul>
                            </div>
                        </div>
                </p>

              </div>

        </div>

        <div class="uk-width-1-1">
            <table class="uk-table uk-table-divider">
                <thead>
                    <tr>
                        <th class="uk-table-shrink">Folio</th>
                        <th class="uk-table-shrink">Entrega</th>
                        <th>Cliente</th>
                        <th class="uk-table-shrink" >Autorizado</th>
                        <th class="uk-table-shrink" >Estado</th>
                        <th>Vendedor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="uk-text-bold">06458</td>
                        <td class="uk-text-nowrap">25/03/2022</td>
                        <td>Rigel David Gutierrez</td>
                        <td><input class="uk-checkbox" type="checkbox"></td>
                        <td><span class="uk-label uk-label-warning">Elaborando</span></td>
                        <td>Table Data</td>
                    </tr>
                    <tr>
                        <td class="uk-text-bold">06458</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td><input class="uk-checkbox" type="checkbox"></td>
                        <td><span class="uk-label  uk-label-success">Terminado</span></td>
                        <td>Table Data</td>
                    </tr>
                    <tr>
                        <td class="uk-text-bold">06458</td>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td><input class="uk-checkbox" type="checkbox"></td>
                        <td><span class="uk-label uk-label-danger">Nuevo</span></td>
                        <td>Table Data</td>
                    </tr>
                </tbody>
            </table>
        </div>
       
        
      </div>
    </div>
  </div>

  <div id="modal-center" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog  uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Nuevo Pedido</h2>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>

            <form class="uk-grid-small" uk-grid>
                <div class="uk-width-2-3@s">
                    <input class="uk-input" type="text" placeholder="Cliente">
                </div>
                <div class="uk-width-1-3@s">
                        <button class="uk-button uk-button-defualt">Detalle</button>
                        <button class="uk-button uk-button-defualt">Buscar</button>
                        <button class="uk-button uk-button-default">Nuevo</button>
                </div>
                <div class="uk-width-1-2@s">
                    <input class="uk-input" type="text" placeholder="50">
                </div>
                <div class="uk-width-1-2@s">
                    <input class="uk-input" type="text" placeholder="50">
                </div>
            </form>

        </div>

        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close uk-button-small" type="button">Cancel</button>
            <button class="uk-button uk-button-danger uk-modal-close uk-button-small" type="button">Enviar</button>
            
        </div>

    </div>
</div>

{% endblock content %}