{% extends "base.html" %}

{% block title %} Promoser ~ Inicio {% endblock title %}

{% block content %}

<div class="uk-height-1-1 uk-background-muted" uk-grid>

	<div class="uk-position-center">

		

		<div class="uk-card uk-card-default uk-card-hover uk-card-body">
			<img src="{{ url_for('static', path='logo_circle.webp') }}" alt="" uk-img>

			<h3 class="uk-text-default">Iniciar Sesion</h3>

			<form action="/auth" method="POST" autocomplete="off">
					<div class="uk-margin">
						<div class="uk-inline">
							<span class="uk-form-icon" uk-icon="icon: user"></span>
							<input name="username" class="uk-input" type="text" style="text-transform:uppercase" required="required">
						</div>
					</div>
				
					<div class="uk-margin">
						<div class="uk-inline">
							<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
							<input name="password" class="uk-input" type="password" required="required">
						</div>
					</div>

					<button class="uk-width-1-1 uk-button uk-button-secondary" type="submit">Iniciar Sesion</button>
			</form>

		</div>
	</div>
</div>

{% endblock content %}