{% extends "base.html" %}

{% block title %} Inicio {% endblock title %}

{% block content %}

<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
	<div class="uk-width-1-1">
		<div class="uk-container">
			<div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
				<div class="uk-width-1-1@m">
					<div class="uk-margin uk-text-center uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
						<img class="" data-src="{{ url_for('static', path='logo_circle.webp') }}" width="" height="" alt="" uk-img>
						<h3 class="uk-card-title uk-text-center">Te deseamos un excelente día.</h3>
						<form>
							<div class="uk-margin">
								<div class="uk-inline uk-width-1-1">
									<span class="uk-form-icon" uk-icon="icon: happy"></span>
									<input class="uk-input uk-form-large" type="text">
								</div>
							</div>
							<div class="uk-margin">
								<div class="uk-inline uk-width-1-1">
									<span class="uk-form-icon" uk-icon="icon: lock"></span>
									<input class="uk-input uk-form-large" type="password">	
								</div>
							</div>
							<div class="uk-margin">
								<button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Iniciar Sesión</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{%  endblock content %}